.header {
  position: sticky;   
  top: 0;
  background-color: rgb(34, 40, 49);
  color: white;
  height: 60px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;      
}

.iconName {
    display: flex;
    align-items: center;
    justify-self: flex-start;
    gap: 10px;
}

.sideButtonsContainer {
    display: flex;
    gap: 15px;
}

.sideButtons {
    height: 40px;
    width: 90px;
    background-color: white;
    color: rgb(34, 40, 49);
}