.header {
  position: sticky;   
  top: 0;
  background: linear-gradient(165deg, #0f172a 0%, #1f2937 100%);
  color: white;
  height: 60px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;      
}

.iconName {
    display: flex;
    align-items: center;
    justify-self: flex-start;
    gap: 10px;
}

.sideButtonsContainer {
    display: flex;
    gap: 15px;
}

.sideButtons {
    height: 40px;
    width: 90px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

.userInfo {
    display: flex;
    gap: 15px;
    align-items: center;
}

.userInfo button {
    height: 40px;
    width: 90px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}