* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(238, 238, 238);
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

.page-layout {
    display: flex;
}

.page-content {
    padding-left: 30px;
}

.menuItems {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 17px;
    cursor: pointer;
}

.menuItems:hover {
    background-color: #76ABAE;
}

.fa-brands {
    font-size: 25px;
}   